/* 제발 전체선택자로 마진0이랑 패딩0 좀 써라... */
* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    background-color: darkgrey;
    margin: auto;
    text-align: center;
}

.container {
    width: 1240px;
    max-width: 1240px;
    background-color: rgba(255, 255, 255, .2);
    height: inherit;
    margin: auto;
    text-align: center;

}

.navi {
    height: 210px;
    background-color: #D0D0D0;
}

.mainbanner {
    height: 400px;
    background-color: #E16F6F;
}

.quick {
    height: 70px;
    background-color: #636B9D;
}

.contents1 {
    height: 370px;
    background-color: #686868;
}

.contents2 {
    height: 200px;
    background-color: #5b5b5b;
}

.contents3 {
    height: 320px;
    background-color: #686868;
}

.news {
    height: 490px;
    background-color: #636B9D;
}

.sns {
    height: 510px;
    background-color: #FF8E8E;
}

.footer {
    height: 230px;
    background-color: #4A5862;
}

h2{font-size: 32px;}