.wrap {
    width: 100%;
}

/* 팝업 */
.popup {
    display: block;
    position: fixed;
    z-index: 999;
    width: 50rem;
    height: 20rem;
    background: rgba(255, 255, 255, .8);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px var(--text1);
    font-size: 16px;
}

.popup .textbox {
    width: 87%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 1.75;
}

img {
    border: 0;
    vertical-align: top;
}

.popup .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.popup a {
    display: block;
}

a:link,
a:visited {
    color: #333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link {
    color: var(--text3) !important;
}

.nav-link:hover {
    color: var(--text2) !important;
}

.wheat {
    margin: 40px;
}

.df {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.box-container {
    width: 500px;
    height: 500px;
    margin: 5px;
    /* border: 1px solid var(--text2); */
    border-radius: 10px;
}

/* WEAT, SUGAR& MORE */
.wb1 {
    background: url(../img/밀\ 줄기\ .webp)no-repeat;
}

.wb2 {
    background-color: var(--primary);
}

/* 배너 */

#carousel {
    width: 1240px;
    height: 470px;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.textbox {
    margin-left: 30px;
    text-align: left;
    height: 200px;
    padding-top: 80px;
}

.textbox p:nth-child(1) {
    font-size: 26px;
}

.textbox p:nth-child(2) {
    font-size: 40px;
}

/* 가상선택자 선 */

.textbox .title:after {
    content: "";
    display: block;
    padding: 20px;
    margin-bottom: 30px;
    width: 40px;
    border-bottom: 8px solid var(--text1);
}

.textbox button {
    width: 100px;
    height: 40px;
    border: 1.5px solid var(--basic) !important;
}

button .btn-secondary {
    color: var(--text1) !important;
}

.textbox button a {
    text-decoration: none;
    color: #fff !important;
}

.textbox button:hover {
    background-color: var(--basic) !important;
}

/* //WEAT, SUGAR& MORE */

/* TRUTHFULNESS */
.wb3 {
    background-color: var(--secondary);
}

.wb4 {
    background: url(../img/반죽.webp)no-repeat;
}

/* //TRUTHFULNESS */

.wb5 {
    background: url(../img/MAIN-bagel.webp) no-repeat;
}

.wb6 {
    background-color: var(--background1);
}

/* 베이글 종류 */

.bagel-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    padding: 80px 100px;
    margin: auto;
    margin-bottom: 40px;
    /* border: 1px solid blue; */
}

.bagel-content {
    width: 300px;
    height: auto;
}

.bagel-section>p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-size: bold;
    margin-bottom: 10px;
}

.bagel-tag-box div {
    margin-top: 20px;
}

.bagel-photo img {
    width: 300px;
    height: 250px;
    /* border: 1px solid blue; */
    border-radius: 20px;
}

.bagel-tag-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.bagel-tag-box div {
    width: 100px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    color: var(--background1);
    background: var(--basic)
}

.bagel-photo {
    position: relative;
    display: inline-block;
}

/* 호버효과 */
.bagel-photo img:hover {
    filter: grayscale(100%)
}

.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}

.bagel-photo:hover .hover-effect {
    opacity: 1;
    /* hover시 텍스트를 보이도록 설정 */
}


/* 뷰 버튼 */
.view-btn {
    display: flex;
    padding: 15px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: var(--primary);
    border: none;
}

.view-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #fff;
}

.view-btn:hover {
    background-color: var(--secondary);
    transition: 0.3s ease;
}



/* 인스타 레이아웃 */

.insta-section {
    max-width: 1160px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px 80px;
    /* border: 1px solid blue; */
}

.insta-introduce {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid blue; */
}

.insta-introduce>img {
    width: 100px;
    position:absolute;
	transition: all .6s ease-in-out;
}

.insta-introduce>img:hover {
	transform: rotate(90deg);
}

.insta-content {
    width: 200px;
    height: auto;
}

.insta-photo img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.insta-photo {
    position: relative;
    display: inline-block;
}

/* 호버효과 */
.insta-photo img:hover {
    filter: grayscale(100%)
}

.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}

.insta-photo:hover .hover-effect {
    opacity: 1;
    /* hover시 텍스트를 보이도록 설정 */
}


/* 가맹지점 공통 */

.fr-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
}

.fr-content {
    width: 400px;
    height: 500px;
    /* border: 1px solid var(--text2); */
}

.fr-content:nth-child(1) {
    background-color: var(--text1);
}

.adress1 {
    margin-top: 100px;
    text-align: center;
    color: var(--primary);
    font-size: 26px;
    line-height: 20px;
}

.adress2 {
    margin-top: 100px;
    text-align: center;
    color: var(--primary);
    font-size: 16px;
    line-height: 20px;
}

.fr-content:nth-child(2) {
    background-color: var(--text2);
}

.fr-content:nth-child(3) {
    background-color: var(--primary);
}

.tell-us {
    margin-top: 60px;
}

.tell-us>h1 {
    text-align: center;
    font-weight: bold;
}

h1 span {
    color: var(--background2);
}

.adress-box {
    margin: auto;
    margin-top: 38px;
    width: 360px;
    height: auto;
}

/* 인풋박스 */

.form-container {
    width: 320px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.text-input {
    width: 302px;
    height: 220px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}

f.custom-form {
    margin-top: 20px;
    width: 302px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.form-input,
.form-textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

.input-tag {
    width: 100%;
    height: 40px;
}

.form-button {
    width: 100%;
    padding: 20px;
    background-color: var(--basic);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* 푸터 */
footer {
    padding: 10px 20px;
    background-color: var(--secondary);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    /* border: 1px solid blue; */
}

.left-box,
.right-box {
    color: var(--text1);
    width: 362px;
    height: auto;
    /* border: 1px solid blue; */
}

.right-box {
    text-align: end;
}

footer .copyright {
    text-align: center;
}

.copyright {
    flex-direction: row;
}