.wrap {
    width: 100%;
}

/* 팝업 */
.popup {
	display: block;
	position: fixed;
	z-index: 999;
	width: 50rem;
	height: 20rem;
	background: rgba(255, 255, 255, .8);
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border-radius: 10px;
	backdrop-filter: blur(20px);
	box-shadow: 0px 0px 5px var(--text1);
    font-size: 16px;
}

.popup .textbox {
	width: 87%;
	height: 17rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	line-height: 1.75;
}

img {
	border: 0;
	vertical-align: top;
}

.popup .close {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.popup a {
	display: block;
}

a:link,
a:visited {
	color: #333;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.nav-link {
    color: var(--text3) !important;
}

.nav-link:hover {
    color: var(--text2) !important;
}

.wheat {
    margin: 40px;
}

.df {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.box-container {
    width: 500px;
    height: 500px;
    margin: 5px;
    /* border: 1px solid var(--text2); */
    border-radius: 10px;
}

/* WEAT, SUGAR& MORE */
.wb1 {
    background: url(../img/밀\ 줄기\ .webp)no-repeat;
}

.wb2 {
    background-color: var(--primary);
}

/* 배너 */

#carousel {
    width: 1240px;
    height: 470px;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.textbox {
    margin-left: 30px;
    text-align: left;
    height: 200px;
    padding-top: 80px;
}

.textbox p:nth-child(1) {
    font-size: 26px;
}

.textbox p:nth-child(2) {
    font-size: 40px;
}

/* 가상선택자 선 */

.textbox .title:after {
    content: "";
    display: block;
    padding: 20px;
    margin-bottom: 30px;
    width: 40px;
    border-bottom: 8px solid var(--text1);
}

.textbox button {
    width: 100px;
    height: 40px;
    border: 1.5px solid var(--basic) !important;
}

button .btn-secondary {
    color: var(--text1) !important;
}

.textbox button a {
    text-decoration: none;
    color: #fff !important;
}

.textbox button:hover {
    background-color: var(--basic) !important;
}

/* //WEAT, SUGAR& MORE */

/* TRUTHFULNESS */
.wb3 {
    background-color: var(--secondary);
}

.wb4 {
    background: url(../img/반죽.webp)no-repeat;
}

/* //TRUTHFULNESS */

.wb5 {
    background: url(../img/MAIN-bagel.webp) no-repeat;
}

.wb6 {
    background-color: var(--background1);
}

/* 베이글 종류 */
.bagel-info {
    width: 100%;
    height: auto;
    min-width: 1280px;
    display: inline-flex;
    padding: 200px 276px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: var(--background1); */
}

/* 베이글 타이틀 */
.bagel-info>div:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    margin-top: -40px;
    margin-bottom: 40px;
}

.bagel-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 83px;
}

.bagel-photo-box1 {
    display: flex;
    align-items: center;
    gap: 55px;
}


.bagel-photo-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.bagel-photo {
    width: 300px;
    height: 250px;
    border: 1px solid blue;
    border-radius: 25px;
}

.bagel-tag-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.bagel-tag-box div {
    width: 100px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--primary)
}

/* 뷰 버튼 */
.view-btn {
    display: flex;
    padding: 20px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #A86F6F;
    border: none;
}

.view-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #fff;
}

/* 인스타그램 */
.insta {
    width: 100%;
    height: auto;
    min-width: 1280px;
    padding: 100px 250px;
    border: 1px solid blue;
}

.insta-box {
    display: inline-flex;
    padding: 249px 90px 144px 90px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 74px;
}

.insta-title {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    font-size: 30px;
}

.insta-photo-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.insta-photo-box2 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.inst-frame {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 1px solid blue;
}


.arrow-tag>div:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
}

.arrow-tag img,svg{margin-top: 15px;}


.arrow-tag {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.arrow-tag a {
    position: relative;
    display: inline-block;
}

.arrow-tag a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.arrow-tag a:hover::after {
    width: 100%;
}


/* 가맹지점 공통 */

.fr-box {
    width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
}

.fr-content {
    width: 400px;
    height: 500px;
    /* border: 1px solid var(--text2); */
}

.fr-content:nth-child(1) {
    background-color: var(--text1);
}

.adress1 {
    margin-top: 100px;
    text-align: center;
    color: var(--primary);
    font-size: 26px;
    line-height: 20px;
}

.adress2 {
    margin-top: 100px;
    text-align: center;
    color: var(--primary);
    font-size: 16px;
    line-height: 20px;
}

.fr-content:nth-child(2) {
    background-color: var(--text2);
}

.fr-content:nth-child(3) {
    background-color: var(--primary);
}

.tell-us {
    margin-top: 40px;
}

.tell-us>h1 {
    text-align: center;
    font-weight: bold;
}

h1 span {
    color: var(--background2);
}

.adress-box {
    margin: auto;
    margin-top: 38px;
    width: 360px;
    height: auto;
}

.text-input {
    display: flex;
}

form {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-1 input,
.input-2 input,
.input-3 input {
    width: 360px;
    height: 40px;
    border: none;
}

input::placeholder {
    font-size: 16px;
}


textarea {
    width: 360px;
    height: 185px;
}

textarea::placeholder {
    font-size: 16px;
}

/* 푸터 */
footer {
    padding: 10px 20px;
    background-color: var(--secondary);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    /* border: 1px solid blue; */
}

.left-box,
.right-box {
    color: var(--text1);
    width: 362px;
    height: auto;
    /* border: 1px solid blue; */
}

.right-box {
    text-align: end;
}

footer .copyright {
    text-align: center;
}

.copyright {
    flex-direction: row;
}